/*RESET RULES CSS*/
* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
/*MAIN-HEADER*/
header{
    background-color: gray;
    padding: 40px;
}
ul, ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.navbar  {
    display: flex;
    justify-content: space-between;
}
.list-navbar{
    display: flex;
    gap: 15px;
    
}