/*RESET RULES CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*MAIN-HEADER*/
header{
    background-color: gray;
    padding: 40px;
}
ul, ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

/*UTILITIES*/

.container {
    width: 100%;
    max-width: 800px;
}

.gap-15 {
    gap: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-40{
    width: 40%;
}
.col-33
{
    width: calc(100% / 3);
}
.col-16{
    width: calc(100%/6);
}

.bg-yellow {
    background-color: yellow;
}

.pt-30 {
    padding-top: 30px;
}
.pb-30{
    padding-bottom: 30px;
}


.bg-green {
    background-color: green;
}
.bg-violet{
    background-color: violet;
}
.bg-gray{
    background-color: gray;
}

.bg-orange {
    background-color: orange;
}
.bg-lightazure{
    background-color: rgb(131, 194, 246);
}


/* .h-200 {
    min-height: 200px;
    flex-wrap: wrap;
}
.h-300{
    min-height: 300px;
}
.h-250{
    min-height: 250px;
}
.h-500{
    min-height: 500px;
} */
.bg-pink{
    background-color: pink;
}
.main-footer{
    background-color: white;

}

.debug .row > * {
    height: 250px;
}